body {
  color: white;
  background-color: rgb(48, 52, 59);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  margin-top: 10px;
  height: 100vh;
  text-align: center;
}

h1{
  color:white;
}

.Navbar{
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  flex-flow: row wrap;
  list-style: none;
}


.Container{
  width: 100%;
  height: 110%;
  display: flex;
  flex-direction: row;
}
.Nav{
  width: 15%;
  height: 60%;
  
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  box-shadow: 2px 0px 5px white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color:rgb(59, 62, 77);
  margin-top: 50px;
  align-self: center;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Container .Nav span{
  font-size: 5vh;
  font-weight: bold;
  color:rgb(255, 243, 221);
}

.Container .Nav button{
  color: rgb(48, 52, 59);
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
  width: 50%;
  height: 50px;
  font-size: 20px;
  background-color: rgb(255, 243, 221);
}

.Container .Content{
  display: flex;
  margin-top: 50px;
  margin-left: -1%;
  margin-right: -1%;
  width: 72%;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 2px 0px 5px white;
  z-index: 0;
  justify-content: center;
}
.link{
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgb(255, 243, 221);
  border-radius: 10px;
}
.link:link{
  text-decoration: none;
  color: white;
}
.link:visited{
  text-decoration-line: none;
  color: white;
}
.link:hover{
  color:blanchedalmond;
}

.Navbar a:link{
  text-decoration: none;
  color: white;
}
.Navbar a:visited{
  text-decoration-line: none;
  color: white;
}

.Navbar a:hover{
  color:blanchedalmond;
}


table{
  margin: 10px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 60px;
}

table th{
  height: 60px;
  font-size: 26px;
}

table td{
  width: 50%;
  height: 60px;
  border: 1px solid #ccc;
  font-size: 26px;
  vertical-align: middle;
}
table td:first-child{
  width: 10%;
}
.btn-add{
  background-color: gainsboro;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
.btn-add:active{
  background-color: gray;
}
.btn-del{
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 90, 90);
  width: 90px;
  font-size: 18px;
  margin: 20px;
  font-weight: bold;
  padding: 5px 20px;
}
.btn-del:active{
  background-color: rgb(255, 90, 90);;
  color: white;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
.off{
  background-color: gray;
}
.overflow{
  margin-top: 10px;
  height: 97%;
  width: 97%;
  overflow-y: auto;
}
.overflowX{
  width: 97%;
  overflow-x: auto;
}
.input-area{
  margin-bottom: 15px;
  font-size: 30px;
}
.input-area label{
  display: block;
  margin-bottom: 10px;
}
.input-area input{
  font-size: 80%;
  width: 400px;
  height: 40px;
}
.Profile{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 96%;
  height: auto;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(255, 254, 180);
  border-radius: 3px;
  padding-bottom: 10px;
}
.Profile .headerbox{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Profile .header1{
  width: 400px;
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  padding-right: 20px;
}
.Profile .header2{
  width: 350px;
  text-align: left;
  margin-top: 23px;
  font-size: 18px;
  padding-right: 25px;
}
.btn-profiledel{
  width: 150px;
}

.Profile .content{
  width: 98%;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 10px;
}
.Profile .content span{
  line-height: 40px;
  margin-left: 35px;
}
.header1 input{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  height: 35px;
  width: 400px;
  font-size: 25px;
}
.header2 input{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  width: 300px;
  font-size: 15px;
}
.btn-save{
  margin-top: 30px;
  align-self: center;
  background-color: gainsboro;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
}
.btn-save:active{
  background-color: gray;
}
.Profile .content textarea{
  background-color: transparent;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
}
.copyright{
  margin-top: 15px;
  background-color: rgb(65, 70, 80);
}

.slider{
  width: 90%;
  height: 95%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.right-arrow{
  font-size: 50px;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  cursor: pointer;
}

.left-arrow{
  font-size: 50px;
  color:white;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active{
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  
}
.proj-container{
  display: flex;
  width: 70%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.proj-container img{
  margin-left: 20px;
  height: 600px;
  border-radius: 10px;
}
.proj-container span{
  margin-left: 20px;
  text-align: start;
  color: blanchedalmond;
  line-height: 33px;
}
.proj-container span a:link{
  color: white;
}
.proj-container span a:visited{
  color: white;
}
.proj-container span a:hover{
  color: blanchedalmond;
}
.nextbutton{
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  font-size: 25px;  
}
.nextbutton:hover{
  color: blanchedalmond;
}
.projoutline{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  overflow: auto;
}
.projoutline h1{
  margin-top: 70px;
}
.projoutline span{
  text-align: left;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 50px;
  color: rgb(217, 231, 192);
  font-size: 1.2rem;
}

.studylist{
  background-color:rgb(201, 236, 228);
  margin-top: 50px;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 2px 2px gray;
  flex-flow: row wrap;
  cursor: pointer;
}
.studylist:hover{
  background-color:rgb(140, 230, 209);
}
.studylist h2{
  margin-left: 60px;
  color: black;
}
.studylist h3{
  color: rgb(89, 92, 87);
  margin-left: 100px;
}
.btn-studylistdel{
  width: 90px;
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid red;
  font-weight: bold;
}
.btn-studylistdel:active{
  background-color: red;
  color: white;
}
.studycontentlink{
  display: flex;
  text-decoration: none;
  width: 90%;
}


.studycontent{
  margin-top: 50px;
  width: 90%;
  border-radius: 10px;
}
.studycontent h1{
  font-size: 50px;
  color:rgb(217, 231, 192);
  margin-bottom: 90px;
}
.studycontent div{
  text-align: left;
  font-size: 25px;
}

.addstudylist{
  font-size: 25px;
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
}
.addstudylist label{
  margin-bottom: 20px;
  font-weight: bold;
}
.addstudylist input{
  height: 35px;
  color: white;
  font-size: 25px;
  background-color: transparent;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 10px;
}
.addstudylist textarea{
  color: white;
  background-color: transparent;
  font-size: 25px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
}